{% block content %}
{% load static %}
{% if not posts %}
    <center>
        <h1>404</h1>
        <h3>Page Not Found</h3>
    </center>
{% endif %}

<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Image</th>
            <th>File</th>
            <th>Created Date</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ post.title }}</td>
            <td>{{ post.description }}</td>
            <td>{{ post.created_date }}</td>
        </tr>
    </tbody>
</table>

<center>
    <form method="post" action=".">
        {% csrf_token %}
        {{ form.as_p }}
    </form>
</center>

{% endblock %}